# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

##### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [3]:
tpl = tuple(range(1,11))
print("Ten postive numebers: ",tpl)

Ten postive numebers:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

##### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:

print(f"First element is : {tpl[0]}.")
print(f"Middle element is : {tpl[len(tpl)//2]}.")
print(f"Last element is : {tpl[-1]}")

First element is : 1.
Middle element is : 6.
Last element is : 10

##### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 3 to 6 of the tuple created in Assignment 1.

In [7]:
print(f"First 3 elements: {tpl[:3]}.")
print(f"Middle elements: {tpl[3:7]}.")
print(f"Last 3 elements: {tpl[-3:]}.")

First 3 elements: (1, 2, 3).
Middle elements: (4, 5, 6, 7).
Last 3 elements: (8, 9, 10).

##### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [1]:
tpl = ((1,2,3),(4,5,6),(7,8,9))
print(tpl)
print("Matrix: ")
for row in tpl:
    print(row)
print(f"Element at 2'nd row and 3'rd column: {tpl[1][2]}.")

((1, 2, 3), (4, 5, 6), (7, 8, 9))
Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at 2'nd row and 3'rd column: 6.

##### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
tpl1 = (1,2,3)
tpl2 = [4,5,6]
concat_tpl = tpl1 + tpl2
print(f"Concatinated tuple: {concat_tpl}.")

Concatinated tuple: [1, 2, 3, 4, 5, 6].

##### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
tpl = (1,2,3,4,5,6,2,3,4,2,3,2,7,8,9,10)
print(f"Occurence of 2 : {tpl.count(2)}.")
print(f"Index of first occurence of 2: {tpl.index(2)}")

Occurence of 2 : 4.
Index of first occurence of 2: 1

##### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(type(tpl))
print(f"A : {a}")
print(f"B : {b}")
print(f"C : {c}")
print(f"D : {d}")
print(f"E : {e}")

<class 'list'>
A : 1
B : 2
C : 3
D : 4
E : 5

##### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [5]:
lst = [1,2,3,4,5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

##### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [7]:
tpl_of_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(f"Tuple of tuples: {tpl_of_tuple}")

Tuple of tuples: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

##### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [11]:
tpl = (1,2,3,4,5)
print(f"Original tuple: {tpl}")
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(f"Element appended inside tuple: {tpl}")

Original tuple: (1, 2, 3, 4, 5)
Element appended inside tuple: (1, 2, 3, 4, 5, 6)

##### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [12]:
string = "suman payel"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(f"Tuple With characters of string: {joined_string}")

Tuple With characters of string: suman payel

##### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [15]:
tpl_dict = {
    (1,2) : 3,
    (4,5) : 6,
    (7,8) : 9
}
print(f"Tuple and Dictionary: {tpl_dict}")

Tuple and Dictionary: {(1, 2): 3, (4, 5): 6, (7, 8): 9}

##### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [17]:
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Each Element of the tuple. ")
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

Each Element of the tuple.
1
2
3
4
5
6
7
8
9

##### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [ ]:
tpl = (1,2,3,4,5,6,1,2,3,4,5,1,2,3,4,1,2,3,1,2,1)
print(f"Origibal tuple: {tpl}")
unique_tpl = set(tpl)
print(f"Tuple after removing all duplicated. : {tuple(unique_tpl)}. For output as tuples.")
print(f"Tuple after removing all duplicated. : {unique_tpl}. For output as set.")

Origibal tuple: (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 1, 2, 1)
Tuple after removing all duplicated. : (1, 2, 3, 4, 5, 6).For output as tuples.
Tuple after removing all duplicated. : {1, 2, 3, 4, 5, 6}.For output as set.

##### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [23]:
def min_in_tuple(tpl):
    return min(tpl)
def max_in_tuple(tpl):
    return max(tpl)
def sum_of_tuple(tpl):
    return sum(tpl)
sample_tpl = (1,2,3,4,5,6)
print(f"Minimum : {min_in_tuple(sample_tpl)}.")
print(f"Maximum : {max_in_tuple(sample_tpl)}.")
print(f"Sum of tuples : {sum_of_tuple(sample_tpl)}.")

Minimum : 1.
Maximum : 6.
Sum of tuples : 21.