In [1]:
# Create a Set

my_set = {1,2,3,4,5,6}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [2]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [3]:
my_set = set([1,2,3,4,5,6,7,8])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
my_empty_set = set([1,2,3,4,5,6,7,1,2,3,4,5,6,1,2,3,4,5,1,2,3,4,1,2,3,1,2,1])
print("Here in sets the duplicated elements wll not get displayed.")
print(f"Original Set: {my_empty_set}.")

Here in sets the duplicated elements wll not get displayed.
Original Set: {1, 2, 3, 4, 5, 6, 7}.

In [7]:
# Basic Sets of Operations
# Ading and Removing elements from a set.

my_set.add(8)
print(my_set)
my_set.add(8)
print(my_set)

my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 4, 5, 6, 7, 8}

In [8]:
my_set.remove(10) # error because remove funtion things that there is this element present in this set.

KeyError: 10

In [9]:
my_set.discard(10)

In [10]:
# pop Method 

removed_elements = my_set.pop()
print(removed_elements)

1

In [11]:
# Cleam All the elements 
my_set.clear()
print(my_set)

set()

In [12]:
# Set membership test

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [15]:
# MAthematical Operations

set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,9,10,11}

#Union
union_set = set1.union(set2)
print(union_set)

#Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{5, 6}
{5, 6}

In [16]:
#Difference

set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,9,10,11}

diff = set1.difference(set2)
print(diff)

{1, 2, 3, 4}

In [17]:
# Symmetric Difference

set1.symmetric_difference(set2)

{1, 2, 3, 4, 7, 8, 9, 10, 11}

In [20]:
# Set Methods

set1 = {1,2,3,4,5}
set2 = {3,4,5}

# is subset
print(set1.issubset(set2))

# is superset
print(set1.issuperset(set2))

False
True

In [23]:
lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]
print(lst)
set_list = set(lst)
print(set_list)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
{1, 2, 3, 4, 5}

In [24]:
# Counting Unique Words in Text

text = "In this tutorial we are discussing about sets"
words = text.split()

# Convert list of words to set to get unique words.
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'tutorial', 'are', 'In', 'this', 'discussing', 'about', 'sets', 'we'}
8