In [ ]:
# Create Dictionary

empty_dict = {}
print(type(empty_dict))

<class 'set'>

In [ ]:
empty_dict = {}
print(type(empty_dict))

In [ ]:
# Example

student = {
    "name": "Suman Deb Kundu",
    "age" : 24,
    "garde": 'A'
}
print(student)
print(type(student))

{'name': 'Suman Deb Kundu', 'age': 24, 'garde': 'A'}
<class 'dict'>

In [9]:
# single key is always used

student = {
    "name": "Suman Deb Kundu",
    "age" : 24,
    "grade": 'A',
    "name": "Payel Pal"
}
print(student)
print(type(student))

{'name': 'Payel Pal', 'age': 24, 'grade': 'A'}
<class 'dict'>

In [ ]:
# Accessing Dictionatry used

student = {
    "name": "Suman Deb Kundu",
    "age" : 24,
    "grade": 'A'
}
print(student)
print(type(student))

print(f"The name of the student : {student['name']}")
print(f"The age of the student : {student['age']}")
print(f"The Grade of the student : {student['grade']}")

{'name': 'Suman Deb Kundu', 'age': 24, 'grade': 'A'}
<class 'dict'>
The name of the student : Suman Deb Kundu
The age of the student : 24
The Grade of the student : A

In [12]:
# Access Using get() method

student = {
    "name": "Suman Deb Kundu",
    "age" : 24,
    "grade": 'A'
}
print(student)
print(type(student))

print(f"The name of the student : {student.get('name')}")
print(f"The age of the student : {student.get('age')}")
print(f"The Grade of the student : {student.get('grade')}")

{'name': 'Suman Deb Kundu', 'age': 24, 'grade': 'A'}
<class 'dict'>
The name of the student : Suman Deb Kundu
The age of the student : 24
The Grade of the student : A

In [ ]:
# Modifying Dictionary Elements
# dictionary are mutuable, update or delete elements

# Adding new key
student["age"] = 23
print(student)
student["address"] = "India"
print(student)

{'name': 'Suman Deb Kundu', 'age': 23, 'grade': 'A'}
{'name': 'Suman Deb Kundu', 'age': 23, 'grade': 'A', 'address': 'India'}

In [14]:
# Delete key and value pair.

del student["age"]
print(student)

{'name': 'Suman Deb Kundu', 'grade': 'A', 'address': 'India'}

In [16]:
# Dictionary Methods

keys = student.keys()
print(keys)

values = student.values()
print(values)

items = student.items()
print(items)

dict_keys(['name', 'grade', 'address'])
dict_values(['Suman Deb Kundu', 'A', 'India'])
dict_items([('name', 'Suman Deb Kundu'), ('grade', 'A'), ('address', 'India')])

In [23]:
# Shallow Copy

student_copy = student
print(student)
print(student_copy)

{'name': 'Suman', 'grade': 'A', 'address': 'India'}
{'name': 'Suman', 'grade': 'A', 'address': 'India'}

In [24]:
student["name"] = "Payel"
print(student)
print(student_copy)

{'name': 'Payel', 'grade': 'A', 'address': 'India'}
{'name': 'Payel', 'grade': 'A', 'address': 'India'}

In [25]:
# Hence we perform Shallow copy by using .copy() function 

student_copy1 = student.copy()
print(student)
print(student_copy1)

student["name"] = "Suman"
print(student)
print(student_copy1)

{'name': 'Payel', 'grade': 'A', 'address': 'India'}
{'name': 'Payel', 'grade': 'A', 'address': 'India'}
{'name': 'Suman', 'grade': 'A', 'address': 'India'}
{'name': 'Payel', 'grade': 'A', 'address': 'India'}

In [29]:
# Iterating Over Dictionaries
# We can use loops to iterate over dictionaries, keys, values, or items

# Iterating over keys
for keys in student.keys():
    print(keys)
print()

# Iterate over values
for values in student.values():
    print(values)
print()

#Iterate over key value pairs
for key,values in student.items():
    print(f"{key}: {values}")

name
grade
address

Suman
A
India

name: Suman
grade: A
address: India

In [36]:
# Nested Dictionaries

student = {
    "student1": {"name" : "Suman Deb Kundu", "Gender": 'M', "age" :23},
    "student2": {"name" : "Souryadip Mallik", "Gender": 'M',"age": 20},
    "student3": {"name" : "Nirmalya Maity", "Gender": 'M', "age": 21},
    "student4": {"name" : "Kauskik das", "Gender": 'M', "age": 21}
}
print(student)

print(student["student2"]["name"])
print(student["student2"]["age"])

{'student1': {'name': 'Suman Deb Kundu', 'Gender': 'M', 'age': 23}, 'student2': {'name': 'Souryadip Mallik', 'Gender': 'M', 'age': 20}, 'student3': {'name': 'Nirmalya Maity', 'Gender': 'M', 'age': 21}, 'student4': {'name': 'Kauskik das', 'Gender': 'M', 'age': 21}}
Souryadip Mallik
20

In [38]:
# Iterating over nested dictionaries

for student_id,student_info in student.items():
    print(f"{student_id}: {student_info}")
    for key,value in student_info.items():
        print(f"{key}: {value}")

student1: {'name': 'Suman Deb Kundu', 'Gender': 'M', 'age': 23}
name: Suman Deb Kundu
Gender: M
age: 23
student2: {'name': 'Souryadip Mallik', 'Gender': 'M', 'age': 20}
name: Souryadip Mallik
Gender: M
age: 20
student3: {'name': 'Nirmalya Maity', 'Gender': 'M', 'age': 21}
name: Nirmalya Maity
Gender: M
age: 21
student4: {'name': 'Kauskik das', 'Gender': 'M', 'age': 21}
name: Kauskik das
Gender: M
age: 21

In [40]:
# Dictionary Comprehension

squares = {
    x: x**2 for x in range(11) 
}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [42]:
# Condition dictionary Comprehension

evens = {
    x:x**2 for x in range(11) if x%2 == 0
}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [2]:
# Practical Examples
# Use a dictionary to count the frequency of ewlements in list

numbers = [1,2,3,4,5,6,1,2,3,4,1,2,3,1,2,1,2,3,4,4]
frequency = {}
for number in numbers:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1
print(frequency)

{1: 5, 2: 5, 3: 4, 4: 4, 5: 1, 6: 1}

In [4]:
# Merge Two dictionaries into one.

dict1 = {"a":1,"b":2}
dict2 = {"b":1,"c":2}
merge_dict = {**dict1, **dict2}
print(merge_dict)

{'a': 1, 'b': 1, 'c': 2}