In [1]:
# range

range(5)

range(0, 5)

In [3]:
# For loop

for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,1, -2):
    print(i)

10
8
6
4
2

In [9]:
# String iteration

str = "Suman Deb Kundu"
for i in str:
    print(i)

S
u
m
a
n

D
e
b

K
u
n
d
u

In [11]:
# while loop

count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [12]:
count = 0
while count % 2 == 0:
    print(count)
    count += 1

0

In [13]:
# Loop Control Statements
# Break Statement

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [14]:
# Continue statement

for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [16]:
# pass statement
# pass opertor is null operator

for i in range(5):
    if i == 3:
        print(f"Pass: {i} value encountered.")
        pass
    print(i)

0
1
2
Pass: 3 value encountered.
3
4

In [17]:
# Nested loops

for i  in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}.")

i: 0, j: 0.
i: 0, j: 1.
i: 1, j: 0.
i: 1, j: 1.
i: 2, j: 0.
i: 2, j: 1.

In [19]:
# Example: Calculate the number of N natural numbers using a while and for loop.

# using while loop
n = 10 
sum = 0
count = 1
while count <= n:
    sum = sum + count
    count += 1
print(f"Sum of first {n} natural numbers using while loop is: {sum}.")

Sum of forst 10 natural numbers using while loop is: 55.

In [26]:
# Example: Calculate the number of N natural numbers using a while and for loop.

# using for loop
n = 10
sum = 0
for i in range(1, n+1):
    sum = sum + i
print(f"Sum of first {n} natural numbers using for loop is : {sum}.")

Sum of first 10 natural numbers using for loop is : 55.

In [30]:
# Prime Number
n =int(input("Enter the range: "))
for num in range(1, n):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97